
/* editors */
.idea
.vscode

/* project */
JetFighterGameRebase.iml
out
MANIFEST.MF
README.md
Unused Sources/
ScreenShots/
lib
jar
/doc/
/JetFighterGame/
/tables.tb
/packNew.bat
/Recordings/

/* maven */
**/target/**